.display {
  border: 1px solid blue;
  text-align: right;
  padding-right: 50px;
  height: 100px;
  font-size: 50px;
  /* transition: all 1s; */
  width: 400px;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
}

/* CSS starts here */

th, td {
  padding: 20px;
  border: 2px solid #ccc;
  font-size: 40px;
  text-align: center;
  width: 70px;
  transition: color 0.3s , background-color 0.3s;
  cursor: pointer;
}

th:hover, td:hover {
  /* color: white; */
  background-color: lightgray;
}

th:active, td:active {
  background-color: gray;
}

.first-row {
  background-color: #f2f2f2;
}

